<html lang="en">
    <%- include('./partials/head.ejs')%>
<body>
    <%- include('./partials/nav.ejs')%>

    <div class="about-content">
        <h2>About page</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque adipisci officia doloremque harum sit dolores praesentium ullam tempora natus? Impedit tempore aspernatur expedita dignissimos nobis, voluptate optio consectetur sed ratione!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam rerum accusamus sunt eos expedita eius, placeat sit dolorum assumenda alias? Dignissimos repellat deleniti ratione, aperiam culpa dolores sapiente laborum harum?</p>
    </div>

    <%- include('./partials/footer.ejs')%>
</body>
</html>