<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JP blog | <%= title %> </title>
</head>
<body>
    <nav>
        <div class="site-title">
            <a href="/">JP blog</a>
            <p>blog built with Express</p>
        </div>

        <ul>
            <li><a href="/">Blogs</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/blogs/create">New post</a></li>
        </ul>
    </nav>

    <div class="contact-content">
        <h2>Contact Us</h2>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eum dolorem, repellat doloremque tempore optio harum. Animi enim eum delectus assumenda cumque fugiat laborum nobis odio iste sequi libero, at sint?</p>
    </div>
</body>
</html>