<html lang="en">
    <%- include('./partials/head.ejs')%>
<body>
    <%- include('./partials/nav.ejs')%>

    <div class="contact-content">
        <h2>Contact Us</h2>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eum dolorem, repellat doloremque tempore optio harum. Animi enim eum delectus assumenda cumque fugiat laborum nobis odio iste sequi libero, at sint?</p>
    </div>

    <%- include('./partials/footer.ejs')%>
</body>
</html>